/* .hero-home {
    padding: 100px 0 100px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),  no-repeat center center; 
      background-size: cover;
      background-position: bottom;
  } */